.content {
    padding-left: 70px;
    padding-right: 70px;
    color: #fff;
    /* margin: 0 auto; */
}
.lead {
    background-color: #272727;
    border-radius: 10px;
    margin-top: 20px;
    min-height: 493px;
    padding-top: 160px;
}
  
@media screen and (max-width: 768px) {
    .content {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .lead {
        padding-top: 350px;
    }
}

@media screen and (max-width: 320px) {
    .content {
        padding-left: 18px;
        padding-right: 18px;
    }
}

@media screen and (max-width: 320px) {
    .lead {
        padding-top: 220px;
    }
}
  