.header__navbar_item {
    line-height: 16px;
    color: #fff;
    text-decoration: none;
    border: none;
    margin-left: 30px;
    padding: 0; /* сбросить стандартные отступы */
}

.header__navbar_item-register {
    background-color: unset;
    font-weight: 500;
    font-size: 12px;
}

.header__navbar_item-login {
    background-color: #3DDC84;
    padding-left: 20px;
    padding-right: 20px;
    height: 32px;
    border-radius: 3px;  
    color: #000;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    align-items: center;
}

.header__navbar_item-account {
    background-color: #313131;
    padding-left: 20px;
    padding-right: 20px;
    height: 32px;
    border-radius: 20px;  
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    align-items: center;
}

.header__navbar_item-movies {
    background-color: unset;
    font-weight: 400;
    font-size: 13px;
}

.header__navbar-container {
    width: 100%;
}

.header__navbar {
    display: flex;
    align-items: baseline;
}

.header__navbar_justify-content_space-between {
    justify-content: space-between;
}

.header__navbar_justify-content_end {
    justify-content: end;
}

.header__navbar_item_current {
    font-weight: 500;
}

@media screen and (max-width: 767px) {
    .header__navbar_item {
        margin-left: 14px;
    }
}