.search-form-container {
    padding-top: 60px;
    padding-bottom: 70px;
    border-bottom: 1px solid #424242;
    margin-bottom: 10px;
}

.search-form {
    height: 46px;
    min-width: 100%;
    border-radius: 40px;
    background-color: #2F2F2F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 6px 14px 22px;
    box-sizing: border-box;
    margin-bottom: 42px;
}

.search-form__input {
    font-size: 13px;
    line-height: 17px;
    font-weight: 400;
    color: #8B8B8B;
    border: none;
    background-color: initial;
    width: 100%;
    margin-right: 5px;
}

.search-form__button {
    border: none; /*сброшены заданные браузером границы*/
    padding: 0; /*сброшены стандартные отступы*/
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: initial;
    cursor: pointer;
    transition: 0.6s ease-in-out;
  }

.search-form__submit-button {
    width: 34px;
    height: 34px;
    background-image: url(../../images/icon-find.svg);
  }
  
  .search-form__button:hover {
    opacity: 0.5;
  }

  .search-form__toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-form__toggle-icon {
    width: 34px;
    height: 14px;
    background-image: url(../../images/icon-toggle.svg);
  }

  .search-form__toggle-text {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 0; /*сброшены стандартные отступы*/
    margin-bottom: 0; /*сброшены стандартные отступы*/
    padding-left: 12px;
    color: #fff;
}

@media screen and (max-width: 1279px) {
  .search-form-container {
    padding-top: 80px;
    padding-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .search-form {
    padding-left: 19px;
  }
}

@media screen and (max-width: 767px) {
  .search-form__input {
    font-size: 11px;
  }
}

@media screen and (max-width: 767px) {
  .search-form__toggle-text {
    font-size: 11px;
  }
}