.register-form__container {
    max-width: 396px;
    margin: 0 auto;
    padding-top: 70px;
    padding-bottom: 70px;
}

.register-form__logo {
    width: 38px;
}

.register-form__title_margin {
    margin-top: 40px;
    margin-bottom: 40px;
}

.register-form__content_align {
    min-height: 413px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}