.nav-tab {
    display: flex;
    justify-content: center;
    padding-top: 151px;
    padding-bottom: 30px;
}

.nav-tab__link {
    text-decoration: none;
    background-color: unset;
    border: none;
    color: #fff;
    margin-left: 20px;
    padding: 0; /* сбросить стандартные отступы */
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    background-color: #303030;
    min-width: 96px;
    height: 36px;
    border-radius: 10px;  
}

.nav-tab__link:first-child {
    margin-left: 0;
}