.nav-tab {
    display: flex;
    justify-content: center;
    padding-top: 151px;
    padding-bottom: 30px;
}

.nav-tab__link {
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 10px;
    background-color: #303030;
    min-width: 96px;
    height: 36px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-tab__link:first-child {
    margin-left: 0;
}

@media screen and (max-width: 1279px) {
    .nav-tab {
        padding-top: 314px;
    }
}

@media screen and (max-width: 767px) {
    .nav-tab {
        padding-top: 212px;
        padding-bottom: 17px;
    }
}

@media screen and (max-width: 767px) {
    .nav-tab__link {
        font-size: 10px;
        margin-left: 6px;
        min-width: 82px;
        height: 26px;
        border-radius: 6px;  
    }
}